@model IEnumerable<WebApplMVC5.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <b>Current time @@</b> @DateTime.Now.ToString()
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contact)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { onclick = "return.confirm('are you sure to delete user?')" })
            </td>
        </tr>
    }

</table>
<div>
    </br>
@Html.Action("Caching")
    <br />
    @Html.TruncateAtWord(ViewBag.Message as string , 40)
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
